.about1-container{
    margin-top: 7%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding-left: 5%;
    width: 100%;
    margin-bottom: 12%;
}
.about-story{
    width: 50%;
}
.about-story h1{
   font-family: 'Cormorant Garamond', serif;
   font-size: 70px;
   color: #b9b8b8;
}
.about-story p{
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    color: gray;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.view-more{
  margin-top: 60px;
    text-decoration: none;
    background-color: transparent;
    border: 0.2px solid #e6a981;
    padding: 10px 30px;
    color: #e6a981;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.view-more:hover{
    cursor: pointer;
    background-color:#e6a981;
    color: black;
   padding: 10px 50px;
}
.about-img{
    width: 50%;
    height: 500px;
}
.story-image{
    width:600px;
    height: 700px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 0 0px 10px #e6a981;
}
.about-values {
  background-color: #1c1c1e;
  padding: 50px 20px;
  text-align: center;
  color: #fff;
}

.about-team{
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.team{
  font-size: 40px;
  word-spacing: 5px;
   letter-spacing: 2px;
   font-weight: 100;
   color: rgb(145, 145, 145);
}
.restchef{
  width: 200px;
  height: 250px;
  border-radius: 10%;
}
.team-grid{
  margin: 5% 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 50px;
}
.chef-name{
  color: white;
  font-family: 'Poppins', sans-serif;
}
.about-cta{
  display: flex;
  color: gray;
  padding: 50px;
}
.visit-img{
  width: 700px;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
}
.visit-text{
  padding: 10% 5%;
  text-align: center;
  line-height: 50px;
}
.visit-head{
  font-size: 40px;
}


